USE [master]
GO
/****** Object:  Database [SMS]    Script Date: 21/05/2023 4:52:32 pm ******/
CREATE DATABASE [SMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\SMS.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\SMS_log.ldf' , SIZE = 1344KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SMS]
GO
/****** Object:  Table [dbo].[ATTENDANCE_STUDENT]    Script Date: 21/05/2023 4:52:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ATTENDANCE_STUDENT](
	[ATTENDANCE_ID] [int] NOT NULL,
	[STUDENT_NAME] [varchar](50) NOT NULL,
	[DATE] [date] NOT NULL,
	[STATUS] [char](1) NOT NULL,
	[REMARKS] [nvarchar](50) NULL,
	[STUDENT_ID] [int] NULL,
 CONSTRAINT [PK_ATTENDANCE_ID] PRIMARY KEY CLUSTERED 
(
	[ATTENDANCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CLASS]    Script Date: 21/05/2023 4:52:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLASS](
	[CLASS_ID] [nvarchar](10) NOT NULL,
	[CLASS_NAME] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_CLASS] PRIMARY KEY CLUSTERED 
(
	[CLASS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CLASS_TIME_TABLE]    Script Date: 21/05/2023 4:52:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CLASS_TIME_TABLE](
	[DAY] [varchar](20) NOT NULL,
	[SUBJECT] [nvarchar](200) NOT NULL,
	[FIRST_PERIOD] [nvarchar](70) NOT NULL,
	[SECOND_PERIOD] [nvarchar](70) NOT NULL,
	[THIRD_PERIOD] [nvarchar](70) NOT NULL,
	[FOURTH_PERIOD] [nvarchar](70) NOT NULL,
	[FIFTH_PERIOD] [nvarchar](70) NOT NULL,
	[SIXTH_PERIOD] [nvarchar](70) NOT NULL,
	[SEVENTH_PERIOD] [nvarchar](70) NOT NULL,
	[DESCRIPTION] [nvarchar](350) NOT NULL,
 CONSTRAINT [PK_CLASS_TIME_TABLE] PRIMARY KEY CLUSTERED 
(
	[DAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COURSE]    Script Date: 21/05/2023 4:52:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSE](
	[COURSE_ID] [int] NOT NULL,
	[COURSE_NAME] [nvarchar](100) NOT NULL,
	[DESCRIPTION] [nvarchar](150) NOT NULL,
	[TEACHER_ID] [int] NULL,
 CONSTRAINT [PK_COURSE] PRIMARY KEY CLUSTERED 
(
	[COURSE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 21/05/2023 4:52:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[ID] [int] NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[SALARY] [varchar](50) NOT NULL,
UNIQUE NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EXAM]    Script Date: 21/05/2023 4:52:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EXAM](
	[EXAM_ID] [char](1) NOT NULL,
	[EXAM_TYPE] [varchar](25) NOT NULL,
 CONSTRAINT [PK_EXAM] PRIMARY KEY CLUSTERED 
(
	[EXAM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EXAM_SCORE]    Script Date: 21/05/2023 4:52:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EXAM_SCORE](
	[CLASS_ID] [nvarchar](2) NOT NULL,
	[YEAR] [int] NOT NULL,
	[COURSE_NAME] [varchar](40) NOT NULL,
	[MARKS] [int] NOT NULL,
	[EXAM_TYPE] [varchar](40) NOT NULL,
 CONSTRAINT [PK_EXAM_SCORE] PRIMARY KEY CLUSTERED 
(
	[CLASS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FEE_STRUCTURE]    Script Date: 21/05/2023 4:52:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FEE_STRUCTURE](
	[CLASS_ID] [nvarchar](2) NOT NULL,
	[YEAR] [int] NOT NULL,
	[ANNUAL_CHARGES] [int] NOT NULL,
	[MONTHLY_CHARGES] [int] NOT NULL,
 CONSTRAINT [PK_FEE_STRUCTURE] PRIMARY KEY CLUSTERED 
(
	[CLASS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PARENTS]    Script Date: 21/05/2023 4:52:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PARENTS](
	[PARENTS_ID] [int] NOT NULL,
	[PARENTS_NAME] [varchar](100) NOT NULL,
	[NIC_NO] [numeric](25, 0) NOT NULL,
	[GENDER] [varchar](10) NOT NULL,
	[MOBILE_NO] [numeric](20, 0) NOT NULL,
	[ADDRESS] [nvarchar](100) NOT NULL,
	[CITY] [varchar](70) NOT NULL,
	[STUDENT_ID] [int] NULL,
 CONSTRAINT [PK_PARENTS] PRIMARY KEY CLUSTERED 
(
	[PARENTS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SECTION]    Script Date: 21/05/2023 4:52:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SECTION](
	[SECTION_ID] [nvarchar](2) NOT NULL,
	[DESCRIPTION] [nvarchar](50) NULL,
 CONSTRAINT [PK_SECTION] PRIMARY KEY CLUSTERED 
(
	[SECTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STUDENT]    Script Date: 21/05/2023 4:52:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[STUDENT](
	[STUDENT_ID] [int] NOT NULL,
	[STUDENT_NAME] [varchar](100) NOT NULL,
	[GENDER] [varchar](10) NOT NULL,
	[DOB] [date] NOT NULL,
	[DOJOINING] [date] NOT NULL,
	[CLASS] [int] NOT NULL,
	[SECTION] [varchar](20) NOT NULL,
	[MOBILE_NO] [numeric](20, 0) NOT NULL,
	[ADDRESS] [nvarchar](100) NOT NULL,
	[CITY] [varchar](70) NOT NULL,
	[PARENTS_ID] [int] NOT NULL,
	[IMAGE_NAME] [nvarchar](50) NULL,
	[IMAGE_PATH] [nvarchar](max) NULL,
 CONSTRAINT [PK_STUDENT] PRIMARY KEY CLUSTERED 
(
	[STUDENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TEACHER]    Script Date: 21/05/2023 4:52:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TEACHER](
	[TEACHER_ID] [int] NOT NULL,
	[TEACHER_NAME] [varchar](100) NOT NULL,
	[NIC_NO] [numeric](25, 0) NOT NULL,
	[GENDER] [varchar](10) NOT NULL,
	[DOJOINING] [date] NOT NULL,
	[QUALIFICATION] [nvarchar](100) NOT NULL,
	[MOBILE_NO] [numeric](20, 0) NOT NULL,
	[ADDRESS] [nvarchar](100) NOT NULL,
	[CITY] [varchar](70) NOT NULL,
 CONSTRAINT [PK_TEACHER] PRIMARY KEY CLUSTERED 
(
	[TEACHER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TEACHER_ATTENDANCE]    Script Date: 21/05/2023 4:52:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TEACHER_ATTENDANCE](
	[ATTENDANCE_ID] [int] NOT NULL,
	[TEACHER_NAME] [varchar](50) NOT NULL,
	[DATE] [date] NOT NULL,
	[STATUS] [char](1) NOT NULL,
	[REMARKS] [nvarchar](50) NULL,
 CONSTRAINT [PK_TEACHERSTUDENT] PRIMARY KEY CLUSTERED 
(
	[ATTENDANCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[ATTENDANCE_STUDENT]  WITH CHECK ADD FOREIGN KEY([STUDENT_ID])
REFERENCES [dbo].[STUDENT] ([STUDENT_ID])
GO
ALTER TABLE [dbo].[COURSE]  WITH CHECK ADD FOREIGN KEY([TEACHER_ID])
REFERENCES [dbo].[TEACHER] ([TEACHER_ID])
GO
ALTER TABLE [dbo].[PARENTS]  WITH CHECK ADD FOREIGN KEY([STUDENT_ID])
REFERENCES [dbo].[STUDENT] ([STUDENT_ID])
GO
USE [master]
GO
